# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

miniodata
mongodata
node_modules
api-ag/node_modules
dist
dist-ssr
*.local
mongodata
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


*.env
docker-compose.yml
api-ag/.env
projecto-ag/.env
projecto-ag/package-lock.json
!projecto-ag/package-lock.json