@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

:root {
  font-family: "Cinzel", serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;

  color-scheme: light dark;
  color: rgba(231, 229, 229, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.cinzel-100 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.cinzel-300 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.cinzel-400 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cinzel-500 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.cinzel-600 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.cinzel-700 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.cinzel {
  font-family: "Cinzel", serif;
}

@media screen and (max-width: 640px) {
  :root {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  color: #333;
  background-color: #a0a0a0;
  display: block;
  overflow-x: hidden;
}

.main {
  padding: 1rem 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}
